.header {
  display: flex;
  align-items: center;
  min-height: 112px;
  padding-inline: 32px;
  justify-content: space-between;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__nav {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header__nav-list-item:hover {
  border-bottom: 2px solid var(--color-secondary);
}

.header__action {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;

  display: flex;
}

.header__search {
  position: relative;
  margin-right: 16px;
}

.header__search-input {
  min-height: 48px;
  background: transparent;
  padding-left: 44px;
  border: 2px solid rgba(208, 215, 251, 0.17);
}

.header__search-input:hover::placeholder {
  color: #f5f8fb;
}

.button-wrapper::before {
  content: "";
  border-left: 2px solid rgba(208, 215, 251, 0.17);
}

.button-wrapper {
display: flex;
gap: 16px;
}

.header__button {
  display: flex;
  align-items: center;
}
