.catalog-page {
    display: flex;
    gap: 64px;
    padding-inline: 160px;
    padding-block: 64px;
}

.catalog__aside {
    display: flex;
    flex-direction: column;
    gap: 21px;
    min-width: 320px;
}

.catalog__filters {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.catalog-filter {
    background-color: var(--color-bg-alternative-2);
    padding: 24px;
    position: relative;
    &__title {
        font-size: 24px;
        line-height: 32px;
        font-family: var( --font-family-secondary);
        font-weight: 400px;
    }
    summary {
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-right: 20px;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: "+";
            margin-left: auto;
            font-size: 18px;
            transition: transform 0.3s ease;
        }
    }

    &[open] {
        summary {
            &::after {
                content: "–";
            }

            // Добавляем полоску только при открытом блоке
            &::before {
                content: "";
                position: absolute;
                bottom: -16px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #444;
            }
        }
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 32px;
    }

    &__option {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 20px;
    }
}
