.catalog-page {
    display: flex;
    gap: 64px;
    padding-inline: 160px;
    padding-block: 64px;
}

.catalog__aside {
    display: flex;
    flex-direction: column;
    gap: 21px;
    min-width: 320px;
}

.catalog__filters {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.catalog-filter {
    background-color: var(--color-bg-alternative-2);
    padding: 24px;
    position: relative;

    &__options {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 32px;
    }

    &__option {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

details[open] summary::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 24px;
    width: 272px;
    height: 1px;
    background-color: var(--color-seporator);
}
