.footer {
    background-color: var(--color-bg-alternative);
    padding-inline: 64px;

    &__wrapper {
        display: flex;
        align-items: center;
        padding-block: 64px;
        justify-content: space-between;
    }

    &__hero {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__hero-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
    }

    &__nav-subscribe-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
    }

    &__nav p,
    &__nav li {
        margin-bottom: 8px;
    }

    &__nav-subscribe-list {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    }

    &__company-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
    }

    &__company-links {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 42px;
        border-top: 1px solid var(--color-seporator);

        &-copyring {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.4;
        }
    }
}
