.contact-form {
    margin: 64px 0 104px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
        max-width: 640px;
        width: 100%;
    }

    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }
//======================== Toggle =========================//
    &__switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        cursor: pointer;
        background-color: var(--color-bg-alternative-2);
    }
    &__switch-input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }
    &__switch-slider {
        width: 40px;
        height: 20px;
        background-color: var(--color-disabled);
        border-radius: 34px;
        position: relative;
        flex-shrink: 0;
        transition: background-color 0.3s;
    }
    &__switch-slider::before {
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        left: 2px;
        top: 2px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
    }
    &__switch-input:checked + .contact-form__switch-slider {
        background-color: var(--color-marina-800);
        &:hover {
            background-color: var(--color-marina-600);
        }
        &:active {
            background-color: var(--color-marina-600);
          }

    }
    
    &__switch-input:checked + .contact-form__switch-slider::before {
        transform: translateX(20px);
    }
// ----------------------------------------------------------------------

    &__item {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__radio {
        accent-color: #ff6600;
        background-color: red;
        color: green;
    }

    &__item textarea {
        height: 200px;
        resize: none;
    }

    &__input {
        min-height: 40px;
        border: 2px solid var(--color-seporator-bold);
        background: transparent;
        color: var(--color-secondary2);
        padding: 10px 12px;
    }
}
