.contact-form {
    margin: 64px 0 104px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
        max-width: 640px;
        width: 100%;
    }

    &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    &__text-title {
        font-size: 36px;
        font-family: var(--font-family-secondary);
        line-height: 48px;
    }

    &__text-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }

    &__switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        cursor: pointer;
        background-color: var(--color-bg-alternative-2);
        pointer-events: none;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 20px;
    }

    &__item {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__item textarea {
        height: 200px;
        resize: none;
    }

    &__input {
        min-height: 40px;
        border: 2px solid var(--color-seporator-bold);
        background: transparent;
        color: var(--color-secondary2);
        padding: 10px 12px;
        transition: 0.3s ease-in-out;
        &:hover {
            border: 2px solid var(--color-marina-600);
        }
    }

    &__terms-link {
        color: var(--color-accent-link);
    }
}
