.nav-banner {
    background-image: url("/img/image-background-1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 375px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 64px;
  }
  .nav-banner__title {
    font-family: var();
  }

