.nav-banner {
    background-image: url("/img/image-background-1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 375px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 64px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__title {
        font-family: var(--font-family-secondary);
        font-weight: 400;
        font-size: 52px;
        line-height: 62px;
    }
    &__link {
        padding-inline: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: var(--color-secondary2);
        }
        &:not(:last-child) {
            border-right: 2px solid var(--color-seporator-bold);
        }
    }
}
