.page {
    margin-top: 64px;
    padding-inline: 108px;
    display: flex;
    gap: 32px;

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 21px;
        min-width: 328px;

        &-block {
            padding: 24px;
            background-color: var(--color-bg-alternative-2);
        }

        &-title {
            padding-bottom: 16px;
            border-bottom: 1px solid var(--color-seporator);
            font-family: var(--font-family-secondary);
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }

        &-list {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-link {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }

        &-links {
            margin-top: 16px;
            display: flex;
            gap: 8px;
        }
    }

    &__hero-image-img {
        width: 100%;
    }

    &__hero-heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 32px;
    }

    &__hero-writer {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 32px;

        & p {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-right: 10px;
            position: relative;

            &::before {
                content: "";
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background-image: url(/img/user.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                height: 16px;
                border-right: 2px solid var(--color-seporator-bold);
            }
        }

        & div {
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
                content: "";
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background-image: url(/img/calendar.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__text {
        margin-top: 32px;

        & p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;

            & .page__text-button {
                background-color: var(--color-marina-800);
            }
        }

        .page__text-highlight {
            color: var(--color-accent-link);
            transition: 0.2s;

            &:hover {
                color: var(--color-marina-600);
            }
        }

        &-list {
            margin-top: 32px;
            list-style: disc;
            padding-left: 1.5em;
        }

        &-items {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 8px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            margin-top: 32px;

            & li {
                display: flex;
                align-items: center;
                gap: 8px;

                &:hover {
                    color: var(--color-marina-600);
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url("/img/small-logo.svg") no-repeat center
                        center;
                    background-size: contain;
                }
            }
        }
    }

    &__blockquote {
        background-color: var(--color-marina-1200);
        border-radius: 10px;
        padding: 16px;
        margin-top: 32px;

        &-item {
            font-family: var(--font-family-secondary);
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
        }

        &-mark {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;

            &::before {
                content: "";
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background-image: url(/img/stars.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__images-wrapper {
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__images-item {
        width: 100%;
    }

    &__images-img {
        width: 100%;
    }

    &__title {
        margin-top: 32px;
    }

    &__links-wrapper {
        margin-block: 32px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-tags,
        &-shares {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}
