.catalog__content {
    width: 100%;
}
.sort {
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__input {
        min-height: 48px;
        background: transparent;
        padding-left: 44px;
        border: 2px solid var(--color-seporator-bold);
    }
    &__filters {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px;
        min-height: 64px;
        background-color: var(--color-bg-alternative-2);
    }

    &__filters-button {
        min-height: 32px;
    }
}
