{% extends "layouts/base.njk" %}

{% block content %}
{% include "partials/common/nav-banner.njk" %}
<section class="contact">
{% include "partials/contact/contact-info.njk" %}
{% include "partials/contact/form.njk" %}
</section>
{% endblock %}
