.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    gap: 8px;
    color: var(--color-primary);
    background: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    outline-offset: 0px;
    &--s {
        min-height: 32px;
        line-height: 20px;
        padding: 6px 24px;
    }
    &--m {
        min-height: 40px;
        line-height: 24px;
        padding: 8px 24px;
    }
    &--l {
        min-height: 48px;
        line-height: 28px;
        padding: 8px 24px;
    }
}

/* ------------------------Button Primary */
.button--primary {
    border-color: var(--color-marina-800);
    background-color: var(--color-marina-800);
}

.button--primary:hover {
    border-color: var(--color-marina-600);
    background-color: var(--color-marina-600);
}

.button--primary:focus {
    outline: 2px solid var(--color-marina-600);
    border-color: #3892f3;
    background-color: var(--color-marina-800);
}

.button--primary:active {
    outline: 0 none;
    border-color: #0054b6;
    background-color: #0054b6;
}

/*-----------------------Button Secondary */
.button--secondary {
    border-color: var(--color-seporator-bold);
}

.button--secondary:hover {
    background-color: var(--color-seporator);
}

.button--secondary:focus {
    outline: 2px solid #3892f3;
    border-color: #3892f3;
}

.button--secondary:active {
    background-color: var(--color-seporator);
}
/* ---------------------- Blog card Button */
.button--article {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    min-height: 40px;
    border: 2px solid var(--color-seporator-bold);
    display: inline-flex;
    align-items: center;
}

.button--article:hover {
    background-color: var(--color-seporator);
}
/*----------------------- catalog Item Buttons */
.catalog__item-button {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    min-height: 52px;
    padding: 12px 55px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.3s ease-in-out;
}

.icon {
    fill: transparent;
    stroke: black;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.favorites--button:hover .icon {
    fill: red;
    stroke: red;
}

.favorites--button:hover {
    background-color: var(--color-secondary-white);
}

.buy-button {
    background-color: var(--color-marina-800);
    color: var(--color-primary);
}

.buy-button:hover {
    background-color: var(--color-marina-600);
}

.link--bordered {
    border: 2px solid #d0d7fb2b;
    padding: 6px 12px;
    transition: 0.2s;
}

.link--bordered:hover {
    border-color: #ffffff;
}
