//==================== Switcher ====================
.switcher {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: var(--color-disabled);
    display: block;
    border-radius: 10px;
    position: relative;
    appearance: none;
    pointer-events: auto;
    &:hover {
        background: var(--color-line);
    }
    &:active {
        background-color: var(--color-secondary-white);
    }
    &:focus {
        outline: 2px solid var(--color-marina-600);
        outline-offset: 2px;
    }
}

.switcher:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.switcher:checked {
    background: var(--color-marina-800);
    &:hover {
        background: var(--color-marina-600);
    }
    &:active {
        background-color: var(--color-marina-600);
    }
    &:focus {
        outline: 2px solid var(--color-marina-600);
        outline-offset: 2px;
    }
}

.switcher:checked:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

// .switcher:active:after {
//     width: 130px;
// }
// ================ Checkbox ===========================
.custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: var(--color-bg-base);
    border: 2px solid var(--color-line);
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.default-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    &:hover {
        & + .custom-checkbox {
            background-color: var(--color-bg-alternative-2);
        }
    }
    &:active {
        & + .custom-checkbox {
            background-color: var(--color-marina-200);
        }
    }
    &:focus {
        & + .custom-checkbox {
            background-color: var(--color-bg-alternative);
            outline: 2px solid var(--color-marina-600);
        }
    }

    &:checked {
        & + .custom-checkbox {
            background-color: var(--color-marina-800);
            border: 2px solid var(--color-marina-800);
            background-image: url(/img/mark-white.svg);
            background-size: 8px auto;
            background-repeat: no-repeat;
        }
        &:hover {
            & + .custom-checkbox {
                background-color: var(--color-marina-600);
                border: 2px solid var(--color-marina-600);
            }
        }
        &:active {
            & + .custom-checkbox {
                background-color: var(--color-marina-200);
                border: 2px solid var(--color-marina-200);
                background-image: url(/img/mark-blue.svg);
            }
        }
    }
}
// =================== Radio =============================
.custom-radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--color-bg-base);
    border: 2px solid var(--color-line);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.default-radio {
    width: 0;
    height: 0;
    position: absolute;
    &:hover {
        & + .custom-radio {
            background-color: var(--color-bg-alternative-2);
        }
    }
    &:active {
        & + .custom-radio {
            border: 5px solid var(--color-marina-800);
        }
    }
    &:focus {
        & + .custom-radio {
            border: 2px solid var(--color-secondary2);
            outline: 2px solid var(--color-marina-600);
            outline-offset: 1px;
        }
    }
    &:checked {
        & + .custom-radio {
            border: 5px solid var(--color-line);
        }
        &:active {
            & + .custom-radio {
                border: 5px solid var(--color-marina-800);
            }
        }
        &:focus {
            & + .custom-radio {
                border: 5px solid var(--color-marina-600);
            }
        }
    }
}
// -------------------------------------------------------
