label {
    cursor: pointer;
}
//===================== Checkbox ==========================
.custom-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: var(--color-bg-base);
    border: 2px solid var(--color-line);
    border-radius: 4px;

    // стили при не чекнутом состоянии
    &:hover {
        background-color: var(--color-bg-alternative-2);
    }

    &:active {
        background-color: var(--color-marina-200);
    }

    &:focus {
        outline: 2px solid var(--color-marina-600);
        border: 2px solid var(--color-bg-alternative);
        background-color: var(--color-bg-alternative);
    }

    // ----------------------------------------------------
    &__checkbox {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;

        &:checked {
            background-color: red;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__checkmark {
        opacity: 0;
    }
}

.custom-checkbox__checkbox:checked
    + .custom-checkbox__icon
    .custom-checkbox__checkmark {
    opacity: 1;
}

.custom-checkbox__checkbox {
    &:checked {
        & + .custom-checkbox__icon {
            .custom-checkbox__checkmark {
                opacity: 1;
            }
        }
    }
}


//==================== Switcher ====================
.switcher {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: var(--color-disabled);
    display: block;
    border-radius: 10px;
    position: relative;
    appearance: none;
    pointer-events: auto;
    &:hover {
        background: var(--color-line);
    }
    &:active {
        background-color: var(--color-secondary-white);
    }
    &:focus {
        outline: 2px solid var(--color-marina-600);
        outline-offset: 2px;
    }
}

.switcher:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.switcher:checked {
    background: var(--color-marina-800);
    &:hover {
        background: var(--color-marina-600);
    }
    &:active {
        background-color: var(--color-marina-600);
    }
    &:focus {
        outline: 2px solid var(--color-marina-600);
        outline-offset: 2px;
    }
}

.switcher:checked:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

// .switcher:active:after {
//     width: 130px;
// }

// -----------------------------------------------------
