:root {
    --font-family-primary: "Poppins", Arial, sans-serif;
    --font-family-secondary: "Bakbak One", Georgia, serif;
    
    --color-primary: #F5F8FB;
    --color-secondary: #EFF5FAD1;
    --color-secondary2: #E7EEF7A8;
    --color-secondary-white: #EFF5FAD1;
    --color-marina-1200: #002754;
    --color-marina-800: #0265DC;
    --color-marina-600: #3892F3;
    --color-marina-200: #B5DEFF;
    --color-seporator: #BFC5EE1F;
    --color-seporator-bold: #D0D7FB2B;
    --color-bg-base: #0D0D15;
    --color-bg-alternative: #1A1925;
    --color-bg-alternative-2: #1D1C28;
    --color-bg-alternative-2-invert: #F4F7FA;
    --color-line: #D4D9F242;
    --color-negative: #EA3829;
    --color-accent-link: #78BBFA;
    --color-disabled: #E5ECFB5C;

}

  
//   // Desktop - до 1280px
//   @mixin desktop-1280 {
//     @media (max-width: 1280px) {
//       @content;
//     }
//   }
//   .template {
//     @include desktop-1728;
//     background: blue;
//     color: white;
//   }
  
