{% extends "layouts/base.njk" %}

{% block content %}
{% include "partials/home/hero-banner.njk" %}
{% include "partials/home/catalog.njk" %}
{% include "partials/home/our-blog.njk" %}
{% include "partials/home/about.njk" %}
{% include "partials/home/team.njk" %}
{% include "partials/home/faq.njk" %}
index page content
{% endblock %}
