<div class="banner__content">
    <div class="banner__details">
        <h1 class="banner__title">{{ item.banner__heading__first }}
        <span class="banner__title banner__title--blue">{{ item.banner__heading__second }}</span>
        {{ item.banner__heading__third }}
        </h1>
        <p class="banner__text">{{ item.text }}</p>
    </div>
    <div class="banner__stat">
        {% for item in statistic %}
        {% include "partials/home/elements/banner-statistic.njk" %}
        {% endfor %}
    </div>
    <div class="banner__action-buttons">
        <button class="banner__action-button button button--secondary button--l">Connect Wallet</button>
        <a class="banner__action-button button button--primary button--l" href="#" target="_blank">Whitelist now</a>
    </div>
</div>
