<section class="about wrapper">
    <h2 class="about__title">About us</h2>
    <p class="about__text">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occae cat cupidatat non
        proident, sunt in culpa qui officia dese runt mollit anim id est laborum
        velit esse cillum dolore eu fugiat nulla pariatu epteur sint occaecat
    </p>
    <div class="about-card">
        <div class="about-card__item">
            <h3 class="about-card__title">High quality</h3>
            <p class="about-card__text">
                Lorem Ipsum is simply dummy text of the printing and Ipsum
                typesetting industry.
            </p>
        </div>
        <div class="about-card__item">
            <h3 class="about-card__title">High quality</h3>
            <p class="about-card__text">
                Lorem Ipsum is simply dummy text of the printing and Ipsum
                typesetting industry.
            </p>
        </div>
        <div class="about-card__item">
            <h3 class="about-card__title">High quality</h3>
            <p class="about-card__text">
                Lorem Ipsum is simply dummy text of the printing and Ipsum
                typesetting industry.
            </p>
        </div>
        <div class="about-card__item">
            <h3 class="about-card__title">High quality</h3>
            <p class="about-card__text">
                Lorem Ipsum is simply dummy text of the printing and Ipsum
                typesetting industry.
            </p>
        </div>
    </div>
    <a class="about-card__btn button button--secondary" href="#">
        Read more
    </a>
</section>
