<section class="about wrapper">
    <h2 class="about__title"> {{ about__heading }} </h2>
    <p class="about__text"> {{ about_us_text }} </p>
    <div class="about-card">
        {% for item in about_card %}
        {% include "partials/home/elements/about-item.njk" %}
        {% endfor %}
    </div>
    <div class="about__button">
        <a class="button button--secondary button--l" href="#">{{ btn_read_more }}</a>
    </div>
</section>
