 <div class="banner__content">
            <div class="banner__details">
                <h1 class="banner__title">
                    {{ item.banner__heading__first }}
                    <span class="banner__title banner__title--blue">
                        {{ item.banner__heading__second }}
                    </span>
                    {{ item.banner__heading__third }}
                </h1>
                <p class="banner__text">
                    {{ item.text }}
                </p>
            </div>

            {# <div class="banner__stat">
                <div class="banner__stat-wrapper">
                    <p class="banner__stat-numbers">2240+</p>
                    <p class="banner__stat-text">Total it earn</p>
                </div>
                <div class="banner__stat-wrapper">
                    <p class="banner__stat-numbers">1000+</p>
                    <p class="banner__stat-text">Profiles whitelisted</p>
                </div>
            </div> #}
            <div class="banner__stat">
             {% for item in statistic %}
             {% include "partials/home/banner-statistic.njk" %}
             {% endfor %}
             </div>

            <div class="banner__action-buttons">
                <button class="banner__action-button button button--secondary">
                    Connect Wallet
                </button>
                <a
                    class="banner__action-button button button--primary"
                    href="#"
                    target="_blank">
                    Whitelist now
                </a>
            </div>
        </div>
