<section class="catalog wrapper">
    <div class="catalog__action">
        <h2 class="catalog__action-heading">
            Catalog

        </h2>
        <div class="catalog__action-buttons">
            <button class="catalog__action-button button button--secondary button--l">See all</button>
            <div class="catalog__action-arrows">
                <button class="catalog__action-button button button--secondary button--l">
                    <img
                        class=""
                        src="/img/chevron-left.svg"
                        alt="Arrow left"
                    />
                </button>
                <button class="catalog__action-button button button--primary button--l">
                    <img
                        class=""
                        src="/img/chevron-right.svg"
                        alt="Arrow right"
                    />
                </button>
            </div>
        </div>
    </div>
    <div class="products__wrapper">
        {% for item in catalog_card %}
        {% include "partials/home/elements/product-item.njk" %}
        {% endfor %}
    </div>
</section>
