<section class="catalog wrapper">
                <div class="catalog__action">
                    <h2 class="catalog__action-heading">Catalog</h2>
                    <div class="catalog__action-buttons">
                        <button class="catalog__action-button button button--primary">See all</button>
                        <div class="catalog__arrows">
                            <button class="catalog__action-button button button--secondary">
                                <img
                                    class=""
                                    src="/img/chevron-left.svg"
                                    alt="Arrow left"
                                />
                            </button>
                            <button class="catalog__action-button button button--secondary">
                                <img
                                    class=""
                                    src="/img/chevron-right.svg"
                                    alt="Arrow right"
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="catalog__cards">
                    <div class="catalog__item">
                        <img
                            class="catalog__item-img"
                            src="/img/skeleton-1x.webp"
                            alt="Skeleton standing in blue mist"
                        />
                        <p class="catalog__item-price">$199</p>
                        <p class="catalog__item-title">Name Product</p>
                        <p class="label catalog__item-label">New</p>
                        <div class="catalog__item-overlay">
                            <button class="catalog__item-button favorites--button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                                  </svg>Favorites
                            <button class="catalog__item-button buy-button">Buy</button>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <img
                            class="catalog__item-img"
                            src="/img/cat-1x.webp"
                            alt="Cat looking somewhere"
                        />
                        <p class="catalog__item-price">$199</p>
                        <p class="catalog__item-title">Name Product</p>
                        <p class="label catalog__item-label">New</p>
                        <div class="catalog__item-overlay">
                            <button class="catalog__item-button favorites--button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                                  </svg>Favorites
                            <button class="catalog__item-button buy-button">Buy</button>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <img
                            class="catalog__item-img"
                            src="/img/scissors-1x.webp"
                            alt="Scissors lying on the sheet"
                        />
                        <p class="catalog__item-price">$199</p>
                        <p class="catalog__item-title">Name Product</p>
                        <p class="label catalog__item-label label--updated">
                            Sold Out
                        </p>
                        <div class="catalog__item-overlay">
                            <button class="catalog__item-button favorites--button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                                  </svg>Favorites
                            <button class="catalog__item-button buy-button">Buy</button>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <img
                            class="catalog__item-img"
                            src="/img/money-1x.webp"
                            alt="Some expensive thing lying on the sheet"
                        />
                        <p class="catalog__item-price">$199</p>
                        <p class="catalog__item-title">Name Product</p>
                        <p class="label catalog__item-label">New</p>
                        <div class="catalog__item-overlay">
                            <button class="catalog__item-button favorites--button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                                  </svg>Favorites
                            <button class="catalog__item-button buy-button">Buy</button>
                        </div>
                    </div>
                    <div class="catalog__item">
                        <img
                            class="catalog__item-img"
                            src="/img/playstation-1x.webp"
                            alt="Playstation"
                        />
                        <p class="catalog__item-price">$199</p>
                        <p class="catalog__item-title">Name Product</p>
                        <p class="label catalog__item-label">New</p>
                        <div class="catalog__item-overlay">
                            <button class="catalog__item-button favorites--button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                                  </svg>Favorites
                            <button class="catalog__item-button buy-button">Buy</button>
                        </div>
                    </div>
                </div>
            </section>