<section class="faq wrapper">
    <div class="faq__container">
        <h2 class="faq__title"> {{ faq__heading }} </h2>
        {% for item in faq_card %}
        {% include "partials/home/elements/faq-item.njk" %}
        {% endfor %}
    </div>
</section>
