<section class="faq wrapper">
                <div class="faq__container">
                    <h2 class="faq__title">FAQs</h2>
                    <details class="faq__details">
                        <summary class="faq__details-title">
                            What are the NFTs?
                        </summary>
                        <p class="faq__details-text">
                            Urna vitae erat et lacus, consectetur ac nulla
                            vestibulum lobortis. Nulla dapibus urna volutpat
                            venenatis, risus faucibus.
                        </p>
                    </details>
                    <details class="faq__details">
                        <summary class="faq__details-title">
                            How do i get NFTs?
                        </summary>
                        <p class="faq__details-text">
                            Urna vitae erat et lacus, consectetur ac nulla
                            vestibulum lobortis. Nulla dapibus urna volutpat
                            venenatis, risus faucibus.
                        </p>
                    </details>
                    <details class="faq__details">
                        <summary class="faq__details-title">
                            How can we buy your NFTs?
                        </summary>
                        <p class="faq__details-text">
                            Urna vitae erat et lacus, consectetur ac nulla
                            vestibulum lobortis. Nulla dapibus urna volutpat
                            venenatis, risus faucibus.
                        </p>
                    </details>
                    <details class="faq__details">
                        <summary class="faq__details-title">
                            Who are the team behind the project?
                        </summary>
                        <p class="faq__details-text">
                            Urna vitae erat et lacus, consectetur ac nulla
                            vestibulum lobortis. Nulla dapibus urna volutpat
                            venenatis, risus faucibus.
                        </p>
                    </details>
                </div>
            </section>