<section class="banner wrapper">
    <div class="banner__inner">
        {% for item in banner %}
        {% include "partials/home/elements/banner-text.njk" %}
        {% endfor %}
    </div>
</section>
