<section class="banner wrapper">
    <div class="banner__inner">
        <div class="banner__content">
            <div class="banner__details">
                <h1 class="banner__title">
                    WITH
                    <span class="banner__title banner__title--blue">
                        BINABOX
                    </span>
                    EXPLORE NFT COLLECTION
                </h1>
                <p class="banner__text">
                    We are the best way to check the rarity of NFT collection
                </p>
            </div>
            <div class="banner__stat">
                <div class="banner__stat-wrapper">
                    <p class="banner__stat-numbers">2240+</p>
                    <p class="banner__stat-text">Total it earn</p>
                </div>
                <div class="banner__stat-wrapper">
                    <p class="banner__stat-numbers">1000+</p>
                    <p class="banner__stat-text">Profiles whitelisted</p>
                </div>
            </div>
            <div class="banner__action-buttons">
                <button class="banner__action-button button button--secondary">
                    Connect Wallet
                </button>
                <a
                    class="banner__action-button button button--primary"
                    href="#"
                    target="_blank">
                    Whitelist now
                </a>
            </div>
        </div>
    </div>
</section>
