<section class="blog wrapper">
    <h2 class="blog__title">{{ blog__heading }}</h2>
    <div class="blog__wrapper">
        {% for item in blog_card %}
        {% include "partials/home/elements/our-blog-item.njk" %}
        {% endfor %}
    </div>
    <button class="blog__card-button button button--secondary"> {{ btn_read_more }} </button>
</section>
