<section class="blog wrapper">
                <h2 class="blog__title">Our blog</h2>
                <div class="blog__wrapper">
                    <article class="blog__card">
                        <picture>
                            {# <source
                                media="(min-width: 1728px)"
                                srcset="./img/blog/face-1x.webp"
                                type="image/webp"
                            />
                            <source
                                media="(min-width: 1280px)"
                                srcset="./img/blog/face-2.webp"
                                type="image/webp"
                            />
                            <source
                                media="(min-width: 678px)"
                                srcset="./img/blog/face-1.webp"
                                type="image/webp"
                            /> #}
                            <img
                                class="image"
                                src="./img/blog/face-1x.webp"
                                alt="Woman with closed eyes"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                    <article class="blog__card">
                        <picture>
                            <source
                                media="(min-width: 678px)"
                                srcset=""
                                type="image/webp"
                            />
                            <img
                                class="image"
                                src="./img/blog/skull-1x.webp"
                                alt="Skull in mist"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                    <article class="blog__card">
                        <picture>
                            <source
                                media="(min-width: 678px)"
                                srcset=""
                                type="image/webp"
                            />
                            <img
                                class="image"
                                src="./img/blog/cat-1x.webp"
                                alt="Cat"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                    <article class="blog__card">
                        <picture>
                            <source
                                media="(min-width: 678px)"
                                srcset=""
                                type="image/webp"
                            />
                            <img
                                class="image"
                                src="./img/blog/monkey-1x.webp"
                                alt="Monkey looks to the front"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                    <article class="blog__card">
                        <picture>
                            <source
                                media="(min-width: 678px)"
                                srcset=""
                                type="image/webp"
                            />
                            <img
                                class="image"
                                src="./img/blog/duck-1x.webp"
                                alt="Duck turned right"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                    <article class="blog__card">
                        <picture>
                            <source
                                media="(min-width: 678px)"
                                srcset=""
                                type="image/webp"
                            />
                            <img
                                class="image"
                                src="./img/blog/playstation-1x.webp"
                                alt="Playstation"
                            />
                        </picture>
                        <span class="label blog__card-label">NFT</span>
                        <p class="blog__card-wrapper">
                            <span class="blog__card-writer">Tony Nguyen</span>
                            <time class="blog__card-date" datetime="2022-06-20"
                                >20 Jun 2022</time
                            >
                        </p>
                        <h3 class="blog__card-title">Sonic live</h3>
                        <p class="blog__card-desc">
                            One September 22, 2021 A volutpat nulla eros, nulla
                            ultrices nec nulla imperdiet...
                        </p>
                        <a class="blog__card-button button button--article" href="#">Read more
                            <img src="./img/chevron-right.svg">
                        </a>
                    </article>
                </div>
                <button class="blog__card-button button button--secondary">Read more</button>
            </section>