<section class="team wrapper">
    <h2 class="team-title"> {{ team__heading }} </h2>
    <div class="team-block">
        {% for item in team_card %}
        {% include "partials/home/elements/team-item.njk" %}
        {% endfor %}
    </div>
</section>
