<section class="page wrapper">
    {% include "partials/blog/page-aside.njk" %}
    <div class="page__wrapper">
        <picture class="hero__image">
        <source media="(min-width: 1728px)" srcset="" type="image/webp" />
        <source media="(min-width: 1280px)" srcset="" type="image/webp" />
        <source media="(min-width: 678px)" srcset="" type="image/webp" />
        <img
            class="image hero__image-img"
            src="/img/big-dragon-1x.webp"
            alt="A man in a cave looks at a large dragon"
        />
        </picture>
        <h2 class="page__title"> {{ main_image__title }} </h2>
        <a class="page__title-button button button--primary" href="#">{{ main_image__label }}</a>
        <p class="page__article-writer">{{ main_image__autor }}</p>
        <time class="page__date" datetime="2022-06-20">{{ main_image__date }}</time>

        <p class="page__text">
            {{page_text1}}
            <span class="page__text-button">{{ page_text2 }}</span>
            {{ page_text3 }}<span class="page__text-highlight"><a href="#"> {{ page_text4 }}</a>
            </span>
            {{page_text5}}    
            </p>
            <p class="page__text">
            {{ page_text6 }}
        </p>
        <ul class="page__text-list">
            <li class="page__text-list-item"> {{page_text7}}</li>
            <li class="page__text-list-item">
                {{page_text8}}
                <span class="page__text-highlight"><a href="">{{page_text9}}</a></span>
                {{page_text10}}
            </li>
        </ul>
        <ul class="page__list">
            {%for item in page_item_list%}
            <li class="page__list-item">{{item.list_name}}</li>
            {% endfor %}
        </ul>
        <div class="blockquote-block">
            <blockquote class="blockquote-block__item"> “{{ blockquote_text }}” </blockquote>
            <p class="page__qoute-mark">
                <span class="mark mark--colored">{{blockquote_rating}}</span>
                <span class="mark">{{blockquote_autor}}</span>
            </p>
        
        </div>
        <picture class="hero__image">
            <source media="(min-width: 1728px)" srcset="" type="image/webp" />
            <source media="(min-width: 1280px)" srcset="" type="image/webp" />
            <source media="(min-width: 678px)" srcset="" type="image/webp" />            
            <img
                class="image hero__image-img"
                src="/img/small-dragon-1x.webp"
                alt="A little dragon with blue ice"
            />
        </picture>
        <picture class="hero__image">
            <source media="(min-width: 1728px)" srcset="" type="image/webp" />
            <source media="(min-width: 1280px)" srcset="" type="image/webp" />
            <source media="(min-width: 678px)" srcset="" type="image/webp" />           
            <img
                class="image hero__image-img"
                src="/img/medium-dragon-1x.webp"
                alt="A man in a cave width dragon"
            />
        </picture>

        <h2 class="page__title">{{ info_text_title }}</h2>
        <p class="page__text">{{info_text1}}</p>
        <p class="page__text">{{info_text2}}</p>
        <h2 class="page__title">{{ info_text_title2 }}</h2>
        <p class="page__text">{{info_text3}}</p>
     
        <div class="page__links-wrapper">
            <div class="page__links-wrapper-tags">
                <h4 class="page__title">Tags:</h4>
                <ul class="page__title-list">
                    {% for item in tag_item %}
                    <li class="page__title-item">
                        <a class="page__title-link link--bordered" href="#">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
                
            <div class="page__links-wrapper-shares">
                <h4 class="page__title">Share:</h4>
                <ul class="page__title-list">
                    {% for item in share_item %}
                    <li class="page__title-item">
                        <a class="page__title-link link--bordered" href="#">
                            <img src="{{ item.src }}" alt="Twitter"/>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</section>
