<aside class="catalog__aside">
    <div class="catalog__filters">
        <details class="catalog-filter">
            <summary class="catalog-filter__title">Clothing</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Combatant
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Ninja
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    King
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Queen
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Robot
                </label>
            </div>
        </details>

        <details class="catalog-filter">
                <summary class="catalog-filter__title">Eyes</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                        <input type="radio" class="default-radio" name="gender">
                        <span class="custom-radio"></span>
                        Yellow
                    </label>
                     <label class="catalog-filter__option">
                        <input type="radio" class="default-radio" name="gender">
                        <span class="custom-radio"></span>
                        Green
                    </label>
                     <label class="catalog-filter__option">
                        <input type="radio" class="default-radio" name="gender">
                        <span class="custom-radio"></span>
                        Mix
                    </label>
                    <label class="catalog-filter__option">
                        <input type="radio" class="default-radio" name="gender">
                        <span class="custom-radio"></span>
                        Orange
                    </label>
                </div>
        </details>

        <details class="catalog-filter">
            <summary class="catalog-filter__title">Face</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Yellow
                </label>
            </div>
        </details>

        <details class="catalog-filter">
            <summary class="catalog-filter__title">Skin</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input class="switcher" type="checkbox" id="switch"/>
                    Skin 1
                </label>
                <label class="catalog-filter__option">
                    <input class="switcher" type="checkbox" id="switch"/>
                    Skin 2
                </label>     
            </div>
        </details>

        <details class="catalog-filter">
            <summary class="catalog-filter__title">Background</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Yellow
                </label>
            </div>
        </details>

        <details class="catalog-filter">
            <summary class="catalog-filter__title">Special</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Yellow
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Green
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Mix
                </label>
                <label class="catalog-filter__option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    Orange
                </label>
            </div>
        </details>
           
    </div>
</aside>
