<aside class="catalog__aside">
    <div class="catalog__filters">
        <details class="catalog-filter">
            <summary class="catalog-filter__title">Clothing</summary>
            <div class="catalog-filter__options">
                <label class="catalog-filter__option">
                    <input class="catalog-filter__checkbox" type="checkbox" name="clothing" value="combatant" />Combatant
                    <span class="catalog-filter__checkmark"></span>
                </label>
            </div>
        </details>

             <details class="catalog-filter">
                <summary class="catalog-filter__title">Eyes</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="yellow"/>Yellow
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="green"/>Green
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="mix"/>Mix
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="orange" />Orange
                    </label>
                </div>
            </details>
            <details class="catalog-filter">
                <summary class="catalog-filter__title">Face</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="yellow"/>Yellow
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="green"/>Green
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="mix"/>Mix
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="orange" />Orange
                    </label>
                </div>
            </details>
            <details class="catalog-filter">
                <summary class="catalog-filter__title">Skin</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="yellow"/>Yellow
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="green"/>Green
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="mix"/>Mix
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="orange" />Orange
                    </label>
                </div>
            </details>
            <details class="catalog-filter">
                <summary class="catalog-filter__title">Background</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="yellow"/>Yellow
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="green"/>Green
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="mix"/>Mix
                    </label>
                    <label class="catalog-filter__option">
                    <input type="radio" name="clothing" value="orange" />Orange
                    </label>
                </div>
            </details>
            <details class="catalog-filter">
                <summary class="catalog-filter__title">Special</summary>
                <div class="catalog-filter__options">
                    <label class="catalog-filter__option">
                    <input class="checkbox" type="checkbox" name="special" value="special"/>Special
                    </label>
                    <label class="catalog-filter__option">
                    <input class="checkbox" type="checkbox" name="special" value="yellow"/>Yellow
                    </label>
                    <label class="catalog-filter__option">
                    <input class="checkbox" type="checkbox" name="special" value="green"/>Green
                    </label>
                    <label class="catalog-filter__option">
                    <input class="checkbox" type="checkbox" name="special" value="mix"/>Mix
                    </label>
                    <label class="catalog-filter__option">
                    <input class="checkbox" type="checkbox" name="special" value="orange"/>Orange
                    </label>
                </div>
            </details>
           
    </div>
</aside>
