<div class="sort">
    <form class="sort__form">
        <div class="sort__block">
            <div class="sort__head">
                <h1 class="sort__title">All item</h1>
                <div class="sort__controls">
                    <div class="sort__dropdown">
                        <select class="sort__select button button--secondary" name="selection" id="filter-by-selection">
                            <option class="sort__select-option" value="">Sort by</option>
                            <option class="sort__select-option" value="">Newest</option>
                            <option class="sort__select-option" value="">Oldest</option>
                            <option class="sort__select-option" value="">All</option>
                            <option class="sort__select-option" value="">Aaaa</option>
                        </select>
                    </div>
                    <div class="sort__search">
                        <label class="sort__label">
                            <input class="sort__input" type="search" placeholder="Search NFT"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="sort__filters">
                <button class="sort__filter-tag button button">NFT</button>
                <button class="sort__filter-tag">NFT</button>
                <button class="sort__filter-tag">NFT</button>      
                <button  type="reset" class="sort__filter-button">Clear all</button>
            </div>
      
        </div>
           
    
    </form>                
</div>
