<header class="header wrapper">
    <a class="header__logo logo" href="index.html">
        <img class="header__logo" src="/img/logo.svg" alt="Project main logo" />
        <img class="header__logo" src="/img/binabox-white.svg" alt="Project name" />
    </a>
    <ul class="header__nav">
        <li class="header__nav-item">
            <a class="header__nav-item-button button active" href="/index.html">Home</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-item-button button" href="/blog.html">Blog</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-item-button button" href="/catalog.html">Catalog</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-item-button button" href="/contact.html">Contact Us</a>
        </li>
    </ul>
    <div class="header__action">
        <div class="header__search header__search--divider">
            <input class="header__search-input" type="search" placeholder="Search" />
        </div>
        <div class="header__action-buttons button-wrapper">
            <a class="header__action-button button button--secondary" href="#" target="_blank"> <img class="button__icon" src="/img/discord.svg" alt="Discort" />Discord </a>

            <button class="header__action-button button button--primary"><img class="button__icon" src="/img/wallet.svg" alt="Wallet" />Connect</button>
        </div>
    </div>
</header>
