<section class="nav-banner wrapper">
    <div class="nav-banner__container">
        <h1 class="nav-banner__title">Our blog</h1>
        <div class="nav-banner__links">
            <a class="nav-banner__link" href="#">Home</a>
            <a class="nav-banner__link" href="#">Our blog</a>
            <a class="nav-banner__link link--selected" href="#">The Basilisks NFT</a>
        </div>
    </div>
</section>
