.button {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 8px 24px;
  gap: 8px;
  min-height: 48px;
  color: var(--color-primary);
  background: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  
}

.button:hover {
transition: 0.2s ease-in-out;

}

/* Button Primary */
.button--primary {
  border-color: var(--color-marina-800);
  background-color: var(--color-marina-800);
}

.button--primary:hover {
  border-color: var(--color-marina-600);
  background-color: var(--color-marina-600);
}

.button--primary:focus {
  outline: 2px solid var(--color-marina-600);
  border-color: #3892F3;
  background-color: var(--color-marina-800);
}

.button--primary:active {
  outline: 0 none;
  border-color: #0054b6;
  background-color: #0054b6;
}

/* Button Secondary */
.button--secondary {
  border-color: var(--color-seporator-bold);
  }

  .button--secondary:hover {
  background-color: var(--color-seporator);
  }

  .button--secondary:focus {
    outline: 2px solid #3892F3;
    border-color: #3892F3;
  }

  .button--secondary:active {
  background-color: var(--color-seporator);
  }

  .button--article {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    min-height: 40px;
    border: 2px solid var(--color-seporator-bold);
    display: inline-flex;
    align-items: center;
  }

  .button--article:hover {
    background-color: var(--color-seporator);
  }

.link--bordered {
  border: 2px solid #d0d7fb2b;
  padding: 6px 12px;
  transition: 0.2s;
}

.link--bordered:hover {
  border-color: #ffffff;
}