.button {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding: 8px 24px;
    gap: 8px;
    min-height: 48px;
    color: var(--color-primary);
    background: transparent;
    cursor: pointer;
    border: 2px solid transparent;
}

.button:hover {
    transition: 0.2s ease-in-out;
}

/* Button Primary */
.button--primary {
    border-color: var(--color-marina-800);
    background-color: var(--color-marina-800);
}

.button--primary:hover {
    border-color: var(--color-marina-600);
    background-color: var(--color-marina-600);
}

.button--primary:focus {
    outline: 2px solid var(--color-marina-600);
    border-color: #3892f3;
    background-color: var(--color-marina-800);
}

.button--primary:active {
    outline: 0 none;
    border-color: #0054b6;
    background-color: #0054b6;
}

/* Button Secondary */
.button--secondary {
    border-color: var(--color-seporator-bold);
}

.button--secondary:hover {
    background-color: var(--color-seporator);
}

.button--secondary:focus {
    outline: 2px solid #3892f3;
    border-color: #3892f3;
}

.button--secondary:active {
    background-color: var(--color-seporator);
}

.button--article {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    min-height: 40px;
    border: 2px solid var(--color-seporator-bold);
    display: inline-flex;
    align-items: center;
}

.button--article:hover {
    background-color: var(--color-seporator);
}

.slider__item-button {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    min-height: 52px;
    padding: 12px 55px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.icon {
  fill: transparent; /* Центр иконки прозрачный */
  stroke: black; /* Контур черный */
  transition: fill 0.3s ease, stroke 0.3s ease; /* Плавный переход */
}

.favorites--button:hover .icon {
  fill: red; /* При наведении центр иконки становится красным */
  stroke: red; /* Контур тоже становится красным */
}

.favorites--button:hover {
  background-color: var(--color-secondary-white);
}

.buy-button {
 background-color: var(--color-marina-800);
 color: var(--color-primary);
}

.buy-button:hover {
  background-color: var(--color-marina-600);
}

.link--bordered {
    border: 2px solid #d0d7fb2b;
    padding: 6px 12px;
    transition: 0.2s;
}

.link--bordered:hover {
    border-color: #ffffff;
}
