.button {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  gap: 8px;
  min-height: 48px;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(208, 215, 251, 0.17);
}

.button:hover {
  scale: 1.05;
}

.button--primary {
  padding: 0 24px;
}

.button--primary:hover {
  background-color: #BFC5EE1F;
}

.button--blue {
  background-color: var(--color-secondary);
  padding: 0 24px;
  border: none;
}

.button--blue:hover {
  background-color: #3892F3;
}

.button--arrow {
  background-color: var(--color-secondary);
  padding: 12px;
}

.link--bordered {
  border: 2px solid #d0d7fb2b;
  padding: 6px 12px;
  transition: 0.2s;
}

.link--bordered:hover {
  border-color: #ffffff;
}